In [3]:
import pandas as pd
import numpy as np
import datetime

### python Datetime

In [6]:
date = datetime.date(year=2013, month=6, day=7)
time = datetime.time(hour=12, minute=30, second=19, microsecond=463198)
dt = datetime.datetime(year=2013, month=6, day=7, hour=12, minute=30, second=19, microsecond=463198)

In [8]:
td = datetime.timedelta(weeks=2, days=5, hours=10, minutes=20,
                       seconds=6.73, milliseconds=99, microseconds=8)

In [9]:
date + td

datetime.date(2013, 6, 26)

In [10]:
dt+ td

datetime.datetime(2013, 6, 26, 22, 50, 26, 292206)

In [12]:
# 날짜 + 날짜 안돼 
date + time

TypeError: unsupported operand type(s) for +: 'datetime.date' and 'datetime.time'

dir(time)

In [13]:
# output 한방에 보여줌 
from IPython import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

---

### Pandas DateTime

In [19]:
pd.Timestamp(year=2013, month=12, day=21, hour=5, minute=10, second=19)

Timestamp('2013-12-21 05:10:19')

In [20]:
pd.Timestamp('22/1/2018')

Timestamp('2018-01-22 00:00:00')

In [21]:
pd.Timestamp('1/1/2018')

Timestamp('2018-01-01 00:00:00')

In [22]:
pd.Timestamp('2014-4/10')

Timestamp('2014-04-10 00:00:00')

In [23]:
#기준은 1970 년 1월 1일 , default 는 microseconds
pd.Timestamp(-500)

Timestamp('1969-12-31 23:59:59.999999500')

In [24]:
s = pd.Series([10,100,1000,10000])
pd.to_datetime(s, unit='D')

0   1970-01-11
1   1970-04-11
2   1972-09-27
3   1997-05-19
dtype: datetime64[ns]

In [25]:
idx = pd.to_datetime(s, unit='D')
pd.Series([1,2,3,4], index=idx)

1970-01-11    1
1970-04-11    2
1972-09-27    3
1997-05-19    4
dtype: int64

#### datetime 변환할 때, 잘못된 datetime 은 Nat(Not a TIME)으로 나오게 설정
- errors='coerce'

In [27]:
s = pd.Series(['12-5-2015', '14-1-2013', '20/12/2017','40/23/2017'])
pd.to_datetime(s, dayfirst=True, errors='coerce')

0   2015-05-12
1   2013-01-14
2   2017-12-20
3          NaT
dtype: datetime64[ns]

### Timedelta

In [28]:
pd.Timedelta(days=5, minutes=7.34)

Timedelta('5 days 00:07:20.400000')

In [29]:
pd.Timedelta(100, unit='W')

Timedelta('700 days 00:00:00')

In [30]:
s = pd.Series([10,100])
pd.to_timedelta(s, unit='s')

0   00:00:10
1   00:01:40
dtype: timedelta64[ns]

In [35]:
data_string_list = ['Sep 30 1984']*10000

In [43]:
# format 시간 엄청걸림. 
%timeit pd.to_datetime(data_string_list, format='%b %d %Y')

25.5 ms ± 646 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [44]:
%timeit pd.to_datetime(data_string_list)

866 ms ± 13.5 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

---

In [53]:
pd.to_datetime('1/1/2018')

Timestamp('2018-01-01 00:00:00')

In [54]:
pd.to_datetime(['1-1-2018','1-2-2018','1-3-2018'])

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03'], dtype='datetime64[ns]', freq=None)